#formu1{
    background-color: #f1eaf9;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin-top: 100px;
    box-shadow: #ff615e 5px 5px, #ff615ec5 10px 10px, #ff615e63 15px 15px, #ff615e57 20px 20px, #ffe4de 25px 25px;

}
h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

body{
    background-color: white;
}

input[type=text], select{
    width: 90%;
    border-radius: 15px;
    border: 1px solid #ff615e;
    padding: 5px;
    margin-bottom: 20px;
}

input[type=numeric], select{
    width: 90%;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid #ff615e;
    margin-bottom: 20px;
}

button[type=submit], select{
    width: 30%;
    padding: 5px;
    background-color: #ff615e;
    color: white;
    border-radius: 20px;
    margin: 5px;
    padding: 2px;
    font-size: 20px;
    border-color: #9c1513;
 
}




