.c-card-prod {
    padding: 0.5rem;
    margin: 2rem;
    background-color: white;
    text-align: center;
    border:#FF615E solid 2px ;
    border-radius: 15px;
    width: 80rem;
    height: 5rem;
}

.produtos-list {
    display: flex;            /* Faz os cartões ficarem lado a lado */
    flex-wrap: wrap;          /* Permite que os cartões quebrem para a linha de baixo se não houver espaço */
    justify-content: center;  /* Centraliza os cartões horizontalmente */
    gap: 0.5rem;                /* Espaço entre os cartões */
}


.c-card-prod h2 {
padding: 0.5rem;
font-size: 1.5rem;
color: rgba(43, 9, 236, 0.767);
}

.c-card-prod p {
width: 40rem;
text-align: left;
justify-content: center;
color: black;
word-spacing: 10px  
}

body{
    background-color: whitesmoke;
}

#lista{
    background-color: #FF615E;
    margin: 20px auto;
    border-radius: 30px;
    padding: 1px;
    color: white;
    border: #cf3f3d solid 1px;
    
    width: 50%;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    display: block;
    box-shadow: red;
}

#lista h1{
    margin: 5px auto;
    padding: 3px;
    text-align: center;

}

#flex{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px ;
    
}

#editar1{
    color: white;
    background-color: #753DA3;
    border-radius: 40px;
  
    width: 100px;
    height: 50px;
    border: #39115a 2px solid;

}
