#formulario{
    background-color: rgb(215, 240, 253);
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
    box-shadow: rgba(188, 198, 255, 0.4) 5px 5px, rgba(43, 9, 236, 0.3) 10px 10px, rgba(92, 80, 255, 0.2) 15px 15px, rgba(158, 133, 248, 0.1) 20px 20px, rgba(42, 7, 245, 0.05) 25px 25px;


}
h1{
    text-align: center;
}

input[type=text], select{
    width: 90%;
    border-radius: 15px;
    border: 1px solid rgb(135, 122, 255);
    padding: 5px;
}
input[type=email], select{
    width: 90%;
    border-radius: 15px;
    border: 1px solid rgb(135, 122, 255);
    padding: 5px;
}
input[type=password], select{
    width: 90%;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid rgb(135, 122, 255);
}

input[type=button], select{
    width: 30%;
    padding: 5px;
    background-color: rgb(75, 1, 136);
    color: white;
    border-radius: 20px;
    margin: 5px;
    border: rgb(190, 91, 248);
   

    
}

