#title{
  color: orange;
  text-align: center;
  
}

body{
  background-color: #F4ECFF ;
 
  
}

p{
  text-align: justify;
}


#saleImagem {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  margin: 0 auto;          /* Garante que o container fique centralizado */
}
